# macOS
.DS_Store

# node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# 환경 변수 및 설정 파일
.env
.env.*

# docker
*.pid
docker-compose.override.yml

# 로그 파일
logs/
*.log

# 기타
.idea/
.vscode/ 